/* Font */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* Body */
body {
  background: #1b1717;
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 120vh;
  overflow-x: hidden;
}

/* Header */
#header_image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 90%;
}

/* Header For Phone */
@media (max-width: 576px) {
  #header_image {
    height: 150px;
  }
}

.wrapper-bg-text-animation {
  display: flex;
  justify-content: center;
}

.bg-text-animation {
  text-align: center;
  position: absolute;
  padding-top: 12px;
  font-size: 144px;
  -webkit-text-stroke: 2px rgba(238, 235, 221, 10%);
  -webkit-text-fill-color: transparent;
  z-index: -1;
  user-select: none;
}

/* Profile */
#profile {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#profile-image {
  width: 160px;
  margin-top: -85px;
  border-radius: 25%;
  outline: 5px solid #1b1717;
}

#profile h1 {
  margin-top: 4px;

  font-size: 32px;
  font-weight: 600;
}

#profile .status {
  font-size: 15px;
  font-weight: 500;

  margin: 2px 0px 10px;
}

/* Social Media */
#sosial-media {
  display: flex;
  justify-content: center;
  margin: 16px 0px 32px;
}

#sosial-media a {
  text-decoration: none;
  padding: 0 5px;
  font-size: 20px;
  color: white;
  padding: 0px 12px;
  transition: 0.2s ease-in;
}

#sosial-media a:hover {
  color: #ce1212;
}

/* Button Link */
.wrapper-button-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 80%;
  max-width: 40rem;
  background-color: #ce1212;
  border-radius: 20px;
  padding: 16px;
  transition: 0.3s ease-in-out;
}

.button_link:not(:last-child) {
  margin-bottom: 16px;
}

.button_link:hover {
  color: #eeebdd;
  background-color: #810000;
}

.button_link p {
  font-weight: 600;
}

.button_link p > i {
  padding-right: 8px;
}

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 0px;
  text-align: center;
  background-color: #1b1717;
  opacity: 50%;
}

footer img {
  width: 32px;
  padding-bottom: 4px;
}

footer P {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.toast-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toast {
  position: fixed;
  top: 0;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-weight: 500;
  margin: 16px;
  padding: 16px;
  animation: animationtoast 400ms ease-in-out;
}

@keyframes animationtoast {
  from {
    opacity: 0;
    transform: translateY(-64px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toast-gone {
  animation: gone 2s ease-in-out 2s;
}

@keyframes gone {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Website 404 */
.notfound {
  width: 100%;
  height: 100vh;

  display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;

  color: #ce1212;
}

.notfound h1 {
  font-size: 50px;
}

.notfound p {
  font-size: 40px;
}

.notfound img {
  margin-top: 20px;
  width: 180px;
  border-radius: 10px;
}
