/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1b1717;
  font-family: "Montserrat", sans-serif;
  height: 100dvh;
}

/* Header */
#header_image {
  width: 100%;
  height: 200px;

  object-fit: cover;
  object-position: bottom;
}

/* Main */
/* Profile Image */
#profile_image {
  text-align: center;
}

#profile_image img {
  width: 160px;
  margin-top: -85px;
  border-radius: 25%;
  outline: 5px solid #1b1717;
}

/* Personel Profile */
#profile {
  color: white;

  display: grid;
  align-items: center;
  justify-content: center;

  text-align: center;
}

#profile h1 {
  margin-top: 4px;

  font-size: 32px;
  font-weight: 600;
}

#profile .status {
  font-size: 15px;
  font-weight: 500;

  margin: 2px 0px 10px;
}

/* Social Media */
#sosial_media {
  display: flex;
  justify-content: center;

  margin: 24px 0px 36px 0px;
}

#sosial_media a {
  padding: 0 5px;
}

#sosial_media a {
  font-size: 16px;
  color: white;

  padding: 0px 12px;

  transition: 0.2s ease-in;
}

#sosial_media a:hover {
  color: #810000;
}

/* Button Link */
.wrapper_button_link {
  display: grid;
}

.wrapper_button_link a {
  margin-bottom: 15px;
  padding: 12px;

  color: white;
  font-weight: 600;
  text-align: center;
  text-decoration: none;

  background-color: #ce1212;
  border-radius: 10px;

  transition: 0.2s ease-in;
}

.wrapper_button_link a:hover {
  background-color: #810000;
}

@media (max-width: 576px) {
  .wrapper_button_link {
    padding: 0px 10%;
  }
}

@media (min-width: 577px) {
  .wrapper_button_link {
    padding: 0px 15%;
  }
}

@media (min-width: 768px) {
  .wrapper_button_link {
    padding: 0px 20%;
  }
}

@media (min-width: 992px) {
  .wrapper_button_link {
    padding: 0px 30%;
  }
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 12px 0px;
  text-align: center;

  background-color: #1b1717;
  border-top: 4px solid #ce1212;
}

footer P {
  color: white;
  font-weight: 400;
}
